table {
    color: black;
    background-color: #00FF85;
    border-collapse: collapse;
    text-align: center;
    font-size: 16px;
    line-height: 19px;
}

td, th {
    border: 2px solid white;
    padding: 10px;
}

tr:hover {
    background-color: #68F2B0;
}
