<!DOCTYPE html>
<html lang="ru">
    <head>
        {% load static %}
        
        <title>Востребованность</title>
        
        <link href="{% static 'css/style.css'%}" rel="stylesheet">
        <link href="{% static 'css/table.css'%}" rel="stylesheet">
        <link href="{% static 'css/demand.css'%}" rel="stylesheet">
        <link rel="icon" href="{% static 'img/icon.ico' %}" type="image/x-icon">

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@400;600;700&display=swap" rel="stylesheet">
    </head>
    <body>
        <header class="main-header">
            <nav class="site-navigation">
                <ul class="site-navigation-list">
                    <li class="site-navigation-list-item active"><a href="/demand">Востребованность</a></li>
                    <li class="site-navigation-list-item"><a href="/geography">География</a></li>
                    <li class="site-navigation-list-item"><a href="/skills">Навыки</a></li>
                    <li class="site-navigation-list-item"><a href="/vacancies">Последние вакансии</a></li>
                </ul>
                <a href="/"><img class="main-logo" src="{% static 'img/header_logo.svg'%}" width="172" height="35" alt="Логотип Testin"></a>
            </nav>
        </header>
        <main>
            <div class="graphics">
                <img src="{% static 'img/salaryYear.png'%}" height="300" alt="График уровня зарплат по годам">
                <img src="{% static 'img/selectedSalaryYear.png'%}" height="300" alt="График уровня зарлат по годам для тестировщика">
                <img src="{% static 'img/numberVacancies.png'%}" height="300" alt="График количества вакансий по годам">
                <img src="{% static 'img/selectedNumberVacancies.png'%}" height="300" alt="График количества вакансий тестировщика по годам">
            </div>
            <table class="dynamics-table">
                <tr><th>Год</th><th>Средняя зарплата</th><th>Средняя зарплата - {{ profession.title }}</th><th>Общее количество вакансий</th><th>Количество вакансий - {{ profession.title }}</th></tr>
                {% for year in years %}
                    <tr><td>{{ year.year }}</td><td>{{ year.salaryYear }}</td><td>{{ year.selectedSalaryYear }}</td><td>{{ year.numberVacancies }}</td><td>{{ year.selectedNumberVacancies }}</td></tr>
                {% endfor %}
            </table>
        </main>
        <footer class="main-footer">
            <img class="footer-logo" src="{% static 'img/footer_logo.svg'%}" width="144" height="28" alt="Логотип Testin">
            <div class="author">
                <p>© Трефелова Алина Николаевна</p>
                <p>РИ-210944</p>
            </div>
            <a class="git" href="https://github.com/malinainsugar/Trefelova"><img  src="{% static 'img/git.svg'%}" width="43" height="43" alt="github"></a>
            <ul class="footer-navigation-list">
                <li class="footer-navigation-list-item"><a href="/demand">Востребованность</a></li>
                <li class="footer-navigation-list-item"><a href="/geography">География</a></li>
                <li class="footer-navigation-list-item"><a href="/skills">Навыки</a></li>
                <li class="footer-navigation-list-item"><a href="/vacancies">Последние вакансии</a></li>
            </ul>
        </footer>
    </body>
</html>