<!DOCTYPE html>
<html lang="ru">
    <head>
        {% load static %}

        <title>Последние вакансии</title>
        
        <link href="{% static 'css/style.css'%}" rel="stylesheet">
        <link href="{% static 'css/card.css'%}" rel="stylesheet">
        <link rel="icon" href="{% static 'img/icon.ico' %}" type="image/x-icon">
        
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@400;600;700&display=swap" rel="stylesheet">
    </head>
    <body>
        <header class="main-header">
            <nav class="site-navigation">
                <ul class="site-navigation-list">
                    <li class="site-navigation-list-item"><a href="/demand">Востребованность</a></li>
                    <li class="site-navigation-list-item"><a href="/geography">География</a></li>
                    <li class="site-navigation-list-item"><a href="/skills">Навыки</a></li>
                    <li class="site-navigation-list-item active"><a href="/vacancies">Последние вакансии</a></li>
                </ul>
                <a href="/"><img class="main-logo" src="{% static 'img/header_logo.svg'%}" width="172" height="35" alt="Логотип Testin"></a>
            </nav>
        </header>
        <main>
            {% for vacancy in vacancies %}
                <div class="card">
                    <h2>{{ vacancy.name }}</h2>
                    {% autoescape off %}
                        <p>{{ vacancy.description }}</p>
                    {% endautoescape %}
                    <div class="line"></div>
                    <div class="skills">
                        <p class="heading-color">Ключевые навыки:</p>
                        {% for skill in vacancy.key_skills %}
                        <p class="skill">{{ skill }}</p>
                        {% endfor %}
                    </div>
                    <div class="salary">
                        <p class="heading-color">Оклад:</p>
                        <div class="value">
                            <p class="salary-value">{{ vacancy.salary }}</p>
                            <p class="cur">{{ vacancy.currency }}</p>
                        </div>
                    </div>
                    <div class="addition">
                        <p class="company">{{ vacancy.employer_name }}</p>
                        <p class="area">{{ vacancy.area_name }}</p>
                        <p class="date">{{ vacancy.published_at }}</p>
                    </div>
                </div>
            {% endfor %}
        </main>
        <footer class="main-footer">
            <img class="footer-logo" src="{% static 'img/footer_logo.svg'%}" width="144" height="28" alt="Логотип Testin">
            <div class="author">
                <p>© Трефелова Алина Николаевна</p>
                <p>РИ-210944</p>
            </div>
            <a class="git" href="https://github.com/malinainsugar/Trefelova"><img  src="{% static 'img/git.svg'%}" width="43" height="43" alt="github"></a>
            <ul class="footer-navigation-list">
                <li class="footer-navigation-list-item"><a href="/demand">Востребованность</a></li>
                <li class="footer-navigation-list-item"><a href="/geography">География</a></li>
                <li class="footer-navigation-list-item"><a href="/skills">Навыки</a></li>
                <li class="footer-navigation-list-item"><a href="/vacancies">Последние вакансии</a></li>
            </ul>
        </footer>
    </body>
</html>